[2018-11-20 10:50] SzymonPobiega opened #2 "Support `SendOptions` routing methods"

[2018-12-18 10:29] SzymonPobiega opened #3 "Allow forwarding messages that don't have Bridge/Router headers"

[2018-12-19 13:18] SzymonPobiega commented on #3
In 3.0 messages that don't have the routing headers can be routed by adding a custom rule.

[2018-12-19 13:18] #3 closed

[2018-12-21 10:56] SzymonPobiega opened #5 "Published messages are duplicated when going through the router"

[2018-12-21 10:57] #5 closed

[2019-01-02 14:12] lovaere opened #7 "Native subscription logic not called after enabling the router (SQL-server transport)"
I was testing a specific scenario where the NServiceBus.Router package is used as a bridge between an 'island' with SQL-server as transport and another island that uses Azure Service Bus as transport mechanism. I've noticed that the subscriptions on the SQL transport island are no longer created after I've enabled the router. Or in other words it looks that the default SQL-transport behaviour of N

[2019-01-04 13:43] lovaere commented on #7
I'm now validating the following version of the ```Invoke``` method for the ```RouterSubscribeBehavior```

[code]
That way we will always trigger the ```MessageDrivenSubscribeTerminator``` of NServiceBus if we have a route that is not handled by the router (not in publisherTable). However in case we do handle it in the router, then we check the ```invokeTerminator``` flag because we would end up w

[2019-01-08 14:06] dmarckmann opened #8 "Enable on SendOnly endpoints"
Exception "LocalAddress isn't available since this endpoint is configured to run in send-only mode." is thrown.

Is it possible to enable sendonly endpoints?

My configration looks like this:

    busConfiguration.SendOnly();
    var transport = busConfiguration.UseTransport<RabbitMQTransport>()
        .ConnectionString(ConfigurationManager.ConnectionStrings["NServiceBus/Transport"].ConnectionStr

[2019-01-11 11:45] SzymonPobiega commented on #7
Hi @lovaere

Sorry for the late reply. Somehow github unsubscribed me from my own repositories and I didn't get any notifications. Let me read through your issue now.

[2019-01-11 12:13] SzymonPobiega commented on #7
@lovaere :bow: Thanks for reporting this and find the root cause. I've just pushed 3.1.4 which fixes it using the approach you provided in https://github.com/SzymonPobiega/NServiceBus.Router/issues/7#issuecomment-451446801.

[2019-01-11 12:37] SzymonPobiega commented on #8
Hi @dmarckmann

I merged your PR. :bow: ❤️ . It has been released as 3.2.0.

[2019-01-11 12:37] #8 closed

[2019-01-11 16:53] valeriob opened #10 "Question about router between MSMQ and SqlServer ('A chain has to have at least one terminator: ForwardPublishContext.')"
Hi,
i'm trying to learn how the router works, so i took this sample https://docs.particular.net/samples/router/mixed-transports/ and tring to switch rabbitmq with SqlServer :

        var endpointConfiguration = new EndpointConfiguration("Samples.Router.MixedTransports.Server");

        var transport = endpointConfiguration.UseTransport<RabbitMQTransport>();
        transport.ConnectionString("ho

[2019-01-13 21:12] SzymonPobiega commented on #10
Hey @valeriob

You're missing the subscription store registration as shown in https://docs.particular.net/samples/router/mixed-transports/#code-walk-through-router: `EnableMessageDrivenPublishSubscribe()` Unfortunately for now the exception message is really horrible as it does not point you in any direction. I'll be working on making it better soon.

[2019-01-14 08:38] valeriob commented on #10
Hi Szymon,
sorry but i pasted the wrong "main", this is the code of the bridge i'm using, EnableMessageDrivenPublishSubscribe() it's present  :

     static async Task Main()
     {
        Console.Title = "Samples.Router.MixedTransports.Router";

        var routerConfig = new RouterConfiguration("Samples.Router.MixedTransports.Router");

        var msmqInterface = routerConfig.AddInterface<Msmq

[2019-01-14 08:46] #7 closed

[2019-01-23 08:48] SzymonPobiega commented on #10
@valeriob have you tied the trick with `EnableMessageDrivenPublishSubscribe` above ☝️

[2019-01-23 10:25] valeriob commented on #10
Yes EnableMessageDrivenPublishSubscribe it's already set in msmqInterface

[2019-01-25 10:45] valeriob commented on #10
Thanks @SzymonPobiega  that worked !
But now i'm getting this exception, i'm having hard time to understand what's appening :
![image](https://user-images.githubusercontent.com/1522516/51741026-fbe7d000-2095-11e9-8b3a-99bffb0057ff.png)

[2019-02-06 08:13] SzymonPobiega commented on #10
That looks like attempting to send a message with SQL server transport address to MSMQ

[2019-02-14 14:32] mteinum opened #11 "Sagas and ReplyToOriginator"
Hi!

The router is working fine when the message is processed by a handler. IHandleMessages/context.Reply and correlationId is not changed.

But, when the message is processed by a Saga, ReplyToOriginator will set the correlationid to the originating messageid.

Line 110:

https://github.com/Particular/NServiceBus/blob/65fee422bdd79a3e5d4adc3dcc40353cb5b9dd82/src/NServiceBus.Core/Sagas/Saga.cs

an

[2019-02-14 15:07] SzymonPobiega commented on #11
Hi @mteinum

Unfortunately this is a bug in NServiceBus itself. The Saga data does not include the CorrelationId of the original message so it applies the message ID instead.

What persistence do you use? With SQL persistence you might be able to work around this scenario using the metadata. With other persistences your would actually need to store the initial CorrelationId in the SagaData itself.

[2019-02-15 09:56] mteinum opened #12 "Physical routing of MSMQ messages"
Hi!

We have this setup

machines: A, B and C.

Machine |  Description
--------- | -----------
A | dotnet core running in docker using rabbitmq as transport
B | Router, with two interfaces: rabbitmq and MSMQ
B | Endpoint, Bar (.NET Framework)
C | Endpoint, Foo (.NET Framework)

Sending BarCommand from A via B Router to B Bar endpoints works great.

How can A send FooCommand to C (Foo) via B?

I ha

[2019-02-15 10:18] SzymonPobiega commented on #12
Hi

Please try following code in the router config:

[code]

This should instruct the MSMQ transport to use machine C properly. The `InstanceMappingFile` API, although attached to the transport config, requires full NServiceBus as it is based on features which Router does not recognise. You need to use the lower level `EndpointInstances` API.

[2019-03-21 20:17] biddlem opened #13 "Question about AzureServiceBusTransport configuration"
I am trying to route Azure Service Bus events in an endpoint-oriented topology to SQS.  I am using the mixed-transport template as a starting point.

When my router runs I always get an error about the "MainSerializer" not being set, even though I set it like you do in the AcceptanceTests (https://github.com/SzymonPobiega/NServiceBus.Router/blob/49152c629715deb90f47bb07a94f38ed937c520f/src/NServic

[2019-03-21 20:43] biddlem commented on #13
Nevermind, the issue was using "new SettingsHolder()" instead of just "settings" on that line.

[2019-03-21 20:43] #13 closed

[2019-03-22 07:18] SzymonPobiega commented on #13
@biddlem Cool. Let me know if you need any help in setting up the router.

[2019-03-22 17:12] biddlem opened #14 "Azure events to SQS"
I am trying to setup a connection between an AzureServiceBus Publisher and an Amazon SQS Subscriber.

The following is my router code:

[code]

My SQS Subscriber has the following connection to the Router:

[code]

I can see the SQS router queue message for "Subscribe" message intent.
The Router blows up with an error when I believe it is trying to setup the subscription in AzureServiceBus:

The r

[2019-04-10 10:18] SzymonPobiega commented on #14
Hi @biddlem .

Sorry I missed this one. For some reason I disabled notifications for my private github account :(

I'll look into this.

[2019-04-10 10:20] SzymonPobiega commented on #14
Does it work if you don't include the connection string in the `RegisterPublisher` call i.e. when the Router and the ASB publisher use the same namespace?

[2019-04-10 12:39] biddlem commented on #14
I resolved the issue yesterday, it ended up being an issue with the destination I was configuring in the router; in NServiceBus 5 we were able to subscribe to events by specifying a destination "queue@namespace", but in NServiceBus 7 I needed to specify the "topic@namespace"

[2019-04-10 12:39] #14 closed

[2019-05-20 12:17] masterpoi commented on #13
This bit me too. There is a SettingsHolder from the router and SettingsHolder from NServiceBus.

[2019-05-23 08:36] Evad-s commented on #11
I came across this issue the other day and resorted to using pub/sub instead, but I would be grateful if you could post how to get around this issue by storing the correlationid in SagaData and the subsequent alteration of the reply to enable this to work.

[2019-05-28 11:13] SzymonPobiega commented on #11
@Evad-s

Here's the workaround:
- Create a behavior similar to `AttachCorrelationIdBehavior` that has a `State` inner class. The only thing the new behavior would do is try to get its state from the context and, if that state is present, override the correlation ID header with the value from the state
- Register that behavior in the pipeline via `RegisterStep` class as in https://docs.particular.n

[2019-06-21 19:30] markgould opened #16 "SqlSubscriptionStorage should use Func<Task<DbConnection>>"
SqlSubscriptionStorage currently takes a Func<DbConnection> which is problematic when there is async work to be done (in my case, acquiring an Access Token). It would be better if it was a Func<Task<DbConnection>>

The Sql Transport supports this (see UseCustomSqlConnectionFactory)

I'd be happy to submit a PR but naturally this would be a breaking change.

[2019-06-22 10:22] SzymonPobiega commented on #16
@markgould the reason for this was that I copied the SQL persistence code to the Router and SQLP (for reasons unknown to me) uses `Func<DbConnection>`. I don't mind switching to `Func<Task>`. Let me see if it would be possible to do in a non-breaking way.

[2019-06-22 10:33] SzymonPobiega commented on #16
@markgould I uploaded 3.5.0 which accepts either sync connection builder or an async one. The async version is expected to returned an already opened connection.

[2019-06-22 10:33] #16 closed

[2019-06-22 12:08] markgould commented on #16
Looks great, thanks for implementing this so quickly!

[2019-06-26 15:18] SzymonPobiega opened #17 "DTC errors are not handled nor logged. The router does not route messages"

[2019-06-27 08:26] SzymonPobiega commented on #17
False alarm. Verified and it seems like DTC errors correctly trigger the failure handling (including entering throttled mode).

[2019-06-27 08:26] #17 closed

[2019-07-10 20:02] robj-applied opened #18 "Sample project throws exception "NServiceBus.Router.UnforwardableMessageException""
Hi, been trying to setup mixed transports using this project. My Endpoint/Routing instances are

- RabbitMq (net core 2.2 - publishes events)
- Router (Rabbit incoming, MSMQ outgoing) (net 472)
- MSMQ (net 472, subscribes to and handles events)

When I run them all I get the exception:

`Interface Moving poison message to the error queue
NServiceBus.Router.UnforwardableMessageException: No route f

[2019-07-11 10:45] sdargaud commented on #18
Hi,
I ran into the same issue using the sample named "sql-switch" if that matters.

[2019-07-12 07:30] robj-applied commented on #18
I believe I've found the issue:

[code]

Should be:

[code]

Everything seems to work now. Presumably it couldn't find a way of letting the Rabbit service know that there was a subscription because there was no route through from MSMQ to Rabbit.

It'd be helpful if somebody could clarify if this is indeed the "fix".

[2019-07-22 05:59] SzymonPobiega commented on #18
@robj-applied thanks for providing the fix. I'll update the sample. Sorry for the problem.
@sdargaud the problem with "sql-switch" was in the Router itself. I've released a new version (3.5.1) that fixes it. I've run that sample and works fine.

[2019-07-22 10:53] SzymonPobiega commented on #18
@robj-applied I am a bit confused. I've checked the sample and it seem to work just fine and the code contains the correct `MSMQ` -> `RabbitMQ` forwarding: https://github.com/Particular/docs.particular.net/blob/master/samples/router/mixed-transports/Router_3/Router/Program.cs#L26

[2019-07-24 06:49] robj-applied commented on #18
@SzymonPobiega The link you've given there does indeed have the `MSMQ > RabbitMq` routing. The sample I _downloaded_ (on the day I raised this issue) had `RabbitMQ > MSMQ`. So something isn't right there - perhaps the download on the Particular site is an older version?

Anyway, I had to make sure it had _both_ before I could get it to work. And that makes sense doesn't it? Because the MSMQ end ne

[2019-07-24 09:33] SzymonPobiega commented on #18
@robj-applied the way the Router is build, the routing table needs to be configured only for send and subscribe messages. It does not have to be configured for the published events or replies. The rationale for this is that the endpoint that publishes events or replies to commands should not be concerned if the subscriber or sender of a command is behind a router or not.

The way this is implement

[2019-07-24 09:47] robj-applied commented on #18
Ok thanks @SzymonPobiega, that makes sense. Looks like the sample version has been updated too so it's the right way round. I'll close - appreciate the responses!

[2019-07-24 09:47] #18 closed

[2019-09-09 09:53] #10 closed

[2019-09-09 10:25] valeriob opened #19 "Router vs SqlServerTransport vs Schema"
Hi,
i would like to isolate each queue in it's own schema, is it a good idea ? how can i do this on the router ?
Does the router has to live in the same schema as the interface added ? (i have a routing problem doing that, because the router tries to send the message to it's own schema, i guess because it does not know the schema of the destination ?)
What is the best practice to use the router in

[2019-09-09 10:30] valeriob commented on #19
I guess i partialy found my answer, to use  transport.UseSchemaForQueue on the bridge.
Anyway the questions about the best practices are still valid 😄

[2019-09-09 16:09] SzymonPobiega commented on #19
Hi @valeriob

I am by no means a DB expert but my understanding of SQL Server schemas is that their purpose is mostly security and organization and they don't affect performance.

Given the fact that SQL Server can use native transactions across catalogs of the same SQL Server instance, the Router is only needed when using multiple instance of SQL Server. In such topology I would expect that each

[2019-09-10 09:51] valeriob commented on #19
Thanks @SzymonPobiega , that will help.
A side question :D I'm hosting a router side by side an msmq endpoint (to be able to talk to another sql endpoint).
Is there any way to get notified programmatically if the router have some problem ?
I would like the process to crash if it does happen.
Thanks
Valerio

[2019-11-12 08:14] kjersti opened #20 "Instrumenting metrics?"
I am looking to instrument our router instance with some metrics. I was able to get a hook into the prerouting context using a Rule. Is there something similar for failures?

[2019-11-12 08:17] SzymonPobiega commented on #20
Hi

No. There is no hook in the failure handling. What kinds of events would be interesting for you?

[2019-11-12 08:38] kjersti commented on #20
Initially, I wanted a counter for errors, as well as the counter for incoming messages. I was able to configure a gauge metrics by implementing a module that queries the poison queue on a regular interval, but I'm not sure if this is the best way to implement it.

If you have any ideas or comments, I am open to that. I am willing to help with the work if needed.

Btw, this tool is great, very help

[2019-11-22 11:40] alshov opened #21 "Use RavenDb subscription persistence along with NServiceBus.Router and msmq transport"
I use MSMQ to Azure Service Bus route. During MSMQ interface setup I need to setup subscription persistence:
`var subscriptionStorage = new InMemorySubscriptionStorage();
msmqInterface.EnableMessageDrivenPublishSubscribe(subscriptionStorage);`

I see there is sql subscription persistence implementation out of the box.
Is there anything similar for RavenDb?
Is it possible to use RavenDb subscriptio

[2019-11-22 12:00] SzymonPobiega commented on #21
Hey @alshov . Do not use the in-memory one in production because you will be losing messages if your router crashes and restarts. Unfortunately the only available subscription persistence for the Router is based on SQL. You can't use regular NSB persistence even though the Router uses the same interface because NSB persistence abstraction requires a regular NServiceBus endpoint to be configured.

[2020-01-09 10:52] #19 closed

[2020-01-16 09:27] slahn opened #22 "Messages without MessageIntent are consumed and dropped"
Hi,
I'm using the router to route some non-nservicebus messages into our nservicebus system. It works fine, after I discovered the problem. Thanks for the great work.

As the title says, messages that are missing intent are dropped silently.

I handled this in our system with a custom rule that throws `UnforwardableMessageException`, but I think this rule should be in the default router, so that m

[2020-01-16 09:55] slahn commented on #22
Actually, now that I think more about it, shouldn't the TerminatorInvocationRule throw if no terminators are invoked? That would catch the problem of unhandled messages in a more general way than a rule looking specifically for this single issue.

[2020-01-16 17:58] #22 closed

[2020-01-16 18:00] SzymonPobiega commented on #22
Hey

Thanks for reporting this. I've fixed it (but not yet released) by adding explicit flags to indicate the fact that a message has been deemed OK for dropping. If that flag is not set and the message is not handled (e.g. when it does not have the intent header), the `UnforwardableMessageException` moves it to the poison queue.

[2020-02-28 11:24] robj-applied commented on #12
Hi Szymon,

I've been trying this exact scenario with your recommended code and for me, it still creates the message on the same machine that the router is on, rather than the remote machine (machine "C" in the example above).

Can I confim, what does the `"code-config"` bit do? I've copied it verbatim but perhaps wondering if I shouldn't have. Here's my router code for clarity:

[code]

Using NSe

[2020-03-04 08:20] robj-applied commented on #12
I've redone this using fresh endpoint names and now it works. Something must have got itself confused along the way.

[2020-03-04 08:41] SzymonPobiega commented on #12
Hey hey. Sorry for the late reply. I was at a conference for last couple of days. Glad that it works now :)

[2020-03-04 08:43] robj-applied commented on #12
No worries! Solved a fairly major problem so thanks for the original response :)

[2020-03-04 09:58] KatoStoelen opened #23 "Send-only router interface"
I have the following setup:

Each service that handles messages has a receive endpoint hosted in a separate process. This is the only place I have message handlers and sagas etc. A pure messaging host of sorts. In addition, each of these services also have a web API and/or a web application. In these web APIs/applications I'm using send-only endpoints to publish events and send commands (to their

[2020-03-04 11:27] SzymonPobiega commented on #23
You are right. The connector does not seem to use the non-SQL interface at all. Technically it could use it if you coupled it with MSMQ. Then the incoming interface would be responsible for processing `subscribe` messages as MSMQ still uses message-driven pub/sub. But this is a very unlikely scenario as when using MSMQ you would rather use DTC to ensure atomic update and publish.

Currently there

[2020-03-06 10:31] KatoStoelen commented on #23
Thanks for your feedback @SzymonPobiega !

I had a go trying to implement this addition, and got sending of commands to work. For event publishing, however, I stumbled upon this issue: SzymonPobiega/NServiceBus.Raw#10

[2020-03-09 11:10] KatoStoelen commented on #23
Figured out that `NativePubSubFeature` contained two rules (`ForwardSubscribeNativeRule` and `ForwardUnsubscribeNativeRule`) not applicable for send-only interfaces. This threw me off, thinking that the subscription manager would be needed. The more correct behavoir, however, would be to make the two rules inapplicable for send-only interfaces. The submitted PR does exactly this.

[2020-03-16 18:00] pihalve opened #25 "ASB subscription/rule name shortener preventing subscription requests through NServiceBus Router"
I’ve created an MSMQ based Publisher that can publish event messages to an Azure Service Bus based Subscriber. I order to accomplish this, I’ve implemented NServiceBus.Router into the publisher (running in same process). This works fine. Subscriber can send subscription request and publisher stores it in subscription storage as originating from router. Publisher can publish event messages to subsc

[2020-03-17 10:05] SzymonPobiega commented on #25
@pihalve which topology are you using in the ASB transport?

[2020-03-17 11:09] pihalve commented on #25
It is the forwarding topology. It is my understanding that this is the only one supported. Well at least in the newest version of NServiceBus.Transport.AzureServiceBus. Basically I use newest versions of all packages involved.

[2020-03-17 11:15] SzymonPobiega commented on #25
Thnaks. I'll try to repro this in an acceptance test and see what can be done.

[2020-03-18 07:49] #23 closed

[2020-03-19 11:43] SzymonPobiega commented on #25
In https://github.com/SzymonPobiega/NServiceBus.Router/commit/5ff75c6168123e6a35d1b736638a001a1877df86 I added an acceptance test as an attempt to repro the issue but it seems to work fine. I am using the forwarding topology with sanitization enabled. The name of the subscription is based on a hash but the event is still delivered. I am probably missing something. Can you create a PR with modifica

[2020-03-20 14:27] martinosk opened #26 "Cannot use "RegisterPublisher" for SendOnly enpoints in Azure Service Bus"
I'm trying to migrate some subscribers to RabbitMQ, while publishers are still on Azure Service Bus.
This does not seem to work if the publisher is a SendOnly endpoint.
Following exception is thrown:
2020-03-20 15:25:31.109 ERROR ThrottlingRawEndpointConfig`1[[NServiceBus.RabbitMQTransport, NServiceBus.Transport.RabbitMQ, Version=5.0.0.0, Culture=neutral, PublicKeyToken=9fc386479f8a226c]] Error pr

[2020-03-20 19:57] SzymonPobiega commented on #26
Hey

The exception you see means that there is no queue `legacy-publisher` publisher on the azure side. Not sure what is this message and why it is about to be sent to the publisher. Can you include your router configuration code and the Router.Connector configuration from your subscriber?

[2020-03-23 07:43] martinosk commented on #26
[code]

[2020-03-23 08:10] SzymonPobiega commented on #26
Ah, that unfortunately won't work. The transport migration tool currently only works between transports that use message-driven pub/sub (MSMQ, SQL Server 4, ASQ) and transports that have native pub/sub support.

In your case you need to use the regular `Router` APIs and set up a router between ASB and RabbitMQ as a separate thing. You can still host it in the same process as one of you endpoints.

[2020-03-23 14:04] pihalve commented on #25
I finally found the problem. You are right, it works fine :) For some reason I forgot a call to RegisterPublisher() for that specific event message type in the subscriber. I guess I was too focused on the name shortening to notice this. Sorry for the inconvenience.

[2020-03-23 14:04] #25 closed

[2020-03-23 15:39] SzymonPobiega commented on #25
@pihalve No problem! That test is a good addition anyway :-)

[2020-03-27 10:32] robj-applied opened #27 "An endpoint cannot use multiple routers"
Hi, apologies if I've misunderstood something here, but given the following code:

[code]

Only `router2`'s routes would be registered in the endpoint. Anything that I think I've set up for `router1` would result in a `No destination specified...` message.

Presumably this is because this line `var router2 = routing.ConnectToRouter(Router2Name);` overwrites this line `var router1 = routing.Connect

[2020-03-27 12:02] SzymonPobiega commented on #27
@robj-applied I would say that this is a poor design choice on my side. I used some tried to mimic some NServiceBus APIs in this behavior but I didn't take into account that for the router, it actually makes sense to connect to more than one.

I'll include support for this in the next release.

[2020-03-27 12:04] #12 closed

[2020-03-27 12:05] #11 closed

[2020-03-27 14:49] robj-applied commented on #27
@SzymonPobiega That's great news, thank you.

[2020-04-14 09:19] SzymonPobiega opened #28 "Router expects message type to be assembly-qualified"
and fails if it is not.

[2020-04-14 09:27] #28 closed

[2020-05-22 09:08] rioka opened #30 ""poison" table no longer created"
While upgrading NServiceBus in an application, we realised table _poison_ (whatever name it is assigned via `PoisonQueueName`) is no longer created.

### Steps to reproduce
- Use sample [update-and-publish](https://github.com/Particular/docs.particular.net/tree/master/samples/router/update-and-publish) solution.
- Build (as of now, it will use NServiceBus 7.3.0 via NServiceBus.Router 3.8.0)
- Star

[2020-06-04 09:52] gamblen opened #31 "ASB - Rule too long exception silently absorbed"
Hi,
I am trying to connect a MSMQ subscriber to an Azure Service Bus Publisher.
I created a NServicebus.Router to connect the two, but I had forgotten to add a Rule Name shortener to it.  Once I had added that to the Router it worked fine.  I did spend an awful lot of time trying to find the problem.  The ASB Publisher throws an exception on startup so it is obvious what the problem is, but that e

[2020-06-04 10:56] SzymonPobiega commented on #31
@gamblen Thanks for reporting it. I'll look into it over the weekend. Sorry for the time you lost 💔

[2020-06-08 17:53] SzymonPobiega commented on #31
Hi

I attempted to re-created this condition by changing the `When_publishing_from_asb_endpoint_oriented` to use an event with a very long name. The Publisher endpoint is on ASB. The subscription message from the publisher got to the router and failed to be processed there. After running the default immediate and delayed retries, finally the Router switched to the "throttled" mode and logged the r

[2020-06-09 13:43] gamblen commented on #31
Hi @SzymonPobiega
On my fork, I checked the retry policy, even set a custom policy of no retries and it still fails with the timeout.
I can see in the log that it is trying again and again, but it never bubbles out to the call.

I have the application that I found the problem in, if I remove the rule name shortener, it fails.  I have set the poison queue name and now see the error.

That is super

[2020-06-09 13:43] #31 closed

[2020-06-09 13:52] SzymonPobiega commented on #31
The main issue here is that with the Router I had to get back to the message-driven pub/sub pattern used by NServiceBus for MSMQ.

The MSMQ endpoint needs to somehow notify the Router that it wants to receive events of type `MyEvent`. It does so by sending a subscribe message to the router and the Router subscribes to that event on the ASB side. That subscription process fails but the router does

[2020-06-09 13:54] gamblen commented on #31
Really appreciate that you have done work.  Thank you.

[2020-06-09 19:34] SzymonPobiega commented on #30
Hey @rioka

This issue has actually been fixed here https://github.com/SzymonPobiega/NServiceBus.Raw/issues/13 but I didn't release the new patch to Router. Try explicitly referencing `NServiceBus.Raw` 3.2.1 in your project and it should fix the issue. In the meantime I'll release Router 3.8.1 that bumps the minim version of Raw.

[2020-06-29 12:51] Adam-MagmaSw opened #32 "Transform messages"
Hi,

Is there a way to configure the router to transform messages on the way through? I can see there are Rules which look like they might be useful but I can't tell whether the messages are immutable from within a rule.

Thanks

Adam

[2020-06-29 13:13] SzymonPobiega commented on #32
Hi @Adam-MagmaSw

The Router has not been designed with this use case in mind but I am pretty sure it is doable using a rule in the `PreroutingContext`. This is the only stage of the routing engine that allows replacing the body (as `byte[]`). Further down the line the body is `readonly`. I haven't tested this myself, though.

An alternative would be to use a simple `NServiceBus.Raw` endpoint or f

[2020-06-29 13:55] Adam-MagmaSw commented on #32
Thanks for getting back to me Szymon

[2020-06-29 13:55] #32 closed

[2020-07-30 07:51] kjersti opened #33 "How to handle errors in the interfaces"
We use this library to do routing from a SQL queue to an MSMQ. We have experienced that the program stopped processing messages from the SQL queue, without any signal that we were able to detect.

After the fact we have been able to find some traces in logs, indicating that there had been connectivity issues with the SQL database.

After digging through the code, it seems like the default behaviou

[2020-08-12 16:12] rawk01 opened #35 "MSMQ / ASB subscription duplicate events"
Hi there,

I've been playing around with the router component, in preparation for a piece of migration work I'm working on.

At the moment we have an MSMQ on premise solution, but newer components are coming on board using ASB.

I wanted to use the router the route commands sent from the MSMQ side of things into ASB to be processed there, and then also to route events published at the MSMQ side of

[2020-08-17 09:33] SzymonPobiega commented on #35
Which version of the ASB transport and which topology do you use?

[2020-08-17 10:18] SzymonPobiega commented on #33
Hi

Thanks for pointing this out. The settings key is stable and won't change but there should be a public API to set the critical handler on top of it. I'll add this API in the next service release. In the meantime you can use the settings. It will continue to work after the public API is added.

[2020-08-17 10:20] #30 closed

[2020-08-17 10:20] #21 closed

[2020-08-20 10:22] rawk01 commented on #35
I'm using Nservicebus.Transport.AsuzreServiceBus.AzureServiceBusTransport (not the legacy one).

I've not specified a topology - so I'm guessing the ForwardingTopology is being used. In the meantime I have enabled the Outbox functionality which means I'm no longer seeing the duplicate events.

[2020-08-20 10:47] SzymonPobiega commented on #35
@rawk01 I'll take a look. The new transport indeed does not have the concept of topology but it uses something very similar to the old forwarding topology.

[2020-08-20 10:49] SzymonPobiega commented on #35
@rawk01 can you open the ServiceBus Explorer and check how your subscriptions to `bundle-1` topic look like?

[2020-08-21 07:07] SzymonPobiega commented on #35
Sure. Also, can you try take a screenshot using [ServiceBus Explorer](https://github.com/paolosalvatori/ServiceBusExplorer). Here's how my Router test namespace looks like

![image](https://user-images.githubusercontent.com/163318/90862332-9355f780-e38d-11ea-8fd0-2305dcc904d9.png)

The new transport subscriptions under `bundle-1` topic don't have the `$default` rule. The old style `bridge.events`

[2020-08-27 08:03] kjersti commented on #33
Thanks for getting back to me, this is fine.

[2020-09-04 16:01] karolus888 opened #36 "Unable to provide destination machine/site for subscriptions registered via bridge.RegisterPublisher"
Hi Szymon,

We have encountered the problem when trying to register MSMQ publisher which is located on different physical machine than the Router we connect to.
I suppose that this kind of routing should be done on client (connector) side, i.e. by specyfing `"NServiceBus.Bridge.DestinationSites"` header but this doesn't seem to be supported, looking at `RouterSubscribeBehavior`,

Could you please

[2020-09-07 09:04] SzymonPobiega opened #37 "Prevent double event delivery when message-driven pub sub is enabled on an interface that supports native pub sub"

[2020-09-07 09:05] SzymonPobiega commented on #35
Hi

Sorry for a late reply. I looked at your sample and found these lines

[code]

are causing the problem. ASB supports native pub sub via topics. Enabling message driven pub sub causes double even delivery because each event is published both natively and via the message-driven mechanism. I have raised [issue](https://github.com/SzymonPobiega/NServiceBus.Router/issues/37) to fix it in one of the

[2020-09-07 09:40] SzymonPobiega commented on #36
Hi

You are right, the machine where the publisher is needs to be specified. Currently the only way to do it is on the Router. Take a look at [this sample](https://docs.particular.net/samples/azure/azure-service-bus-msmq-bridge/#code-walk-through-bridging-bridge-configuration) that shows how the `EndpointInstances` routing extensibility point can be used for this purpose.

There is no way to speci

[2020-09-07 13:16] rawk01 commented on #35
Ahh I see that makes sense. Many thanks for taking the time to look into it, much appreciated!

[2020-09-07 13:16] #35 closed

[2020-09-09 12:30] SzymonPobiega commented on #20
Hi @kjersti . I did some research and it seems that `EventCounter`s are the way to implement such things. I will be working on adding the counters to the router. My ideas for counters are following:
 - Message processing time end-to-end (per each interface)
 - Number of messages processed
 - Number of retries
 - Number of messages moved to poison queue

Do you have any other ideas for counters tha

[2020-09-17 23:28] eschatzy opened #38 "NServiceBus.MessageDeserializationException error"
Hi,

I'm getting the following error with multiple command types. The strange this is that it doesn't happen all the time and sometimes I can replay the messages and it works and other times it continues to fail. Note: when not using Routing Bridge these issues don't happen.

We are using the following serializeration:
            configuration.UseSerialization<XmlSerializer>();
            config

[2020-09-21 16:19] SzymonPobiega commented on #38
So you get these errors when sending messages between two endpoints over a Router?

You mean NServiceBus.Bridge? Or the NServiceBus.Bridge.Connector package in the endpoint?

[2020-09-21 19:10] eschatzy commented on #38
I'm using the NServiceBus Router two-way bridge topology architecture. Since we are currently testing, we are routing between two existing MSMQ based endpoints.

I'm getting these errors in the router queue, between to end points.

I'm using NServiceBus.Bridge.

[2020-09-22 06:27] SzymonPobiega commented on #38
OK, I am now a bit confused. The error you pasted has `at NServiceBus.MainPipelineExecutor.d__1.MoveNext()` on its stack trace so it definitely happened inside a regular NServiceBus endpoint, not the Router (Router does not have `MainPipelineExecutor`). Are you able to push the prototype you are working on somewhere to github so that I can pull it and debug?

[2020-09-22 19:07] eschatzy commented on #38
Unfortunately, we are running this in QA with are existing systems. We have almost 50 endpoints that are using multiple Routing Bridge endpoints. These are all separated by business domains.

But I believe I can recreate what we are doing with some type of demo that I can send to you. It will take a little time.

Thanks for you help. Our end goal is to move our endpoints to SQS in a gradual manner

[2020-09-23 06:21] SzymonPobiega commented on #38
In the meantime, what is that `SetupCheckForDuplicateRecords` node? is that a root node (message type) or some element of a message?

[2020-09-28 22:49] eschatzy commented on #38
This is the SetupCheckForDuplicateRecords class. The IAmNotAudited is a flag type interface:
    public class SetupCheckForDuplicateRecords : IAmNotAudited
    {
        public virtual long MonitorNotificationDateTimeId { get; set; }
    }

[RoutingBridgeDemo.zip](https://github.com/SzymonPobiega/NServiceBus.Router/files/5295428/RoutingBridgeDemo.zip)

I've attached a demo version of the code. Str

[2020-09-28 22:49] eschatzy commented on #38
You will need to do a build of the code for it to function.

[2020-09-30 11:15] SzymonPobiega commented on #38
Hi

I built it and it seems to work correct i.e. the `DemoCommands` get to their destination endpoint. I run it a number of times, same result. That said, the router is now configured to simply "deflect" all messages i.e. whatever comes to it via the msms interface is forwarded via the same interface.

Also, because of the centralized routing configuration you end up sending `StartDemo` via the ro

[2020-10-19 22:25] eschatzy commented on #38
So I was able to resolve this issue.

It appears I was registering the Route to Endpoint with RouterConnectionSettings instead of with RoutingSettings. What I found to be strange is that when using RouterConnectionSettings registration was that is actually worked about 60% of the time for the same message type.

I will close this issue, since it is no logger a problem.

[2020-10-19 22:25] #38 closed

[2020-10-21 12:41] SzymonPobiega commented on #38
Sounds like you might have had two competing routes configured somehow but not sure how.

[2020-10-23 11:44] seantarogers commented on #27
Hi @SzymonPobiega when is V4 getting released? This feature would be very useful.  Thanks

[2020-11-05 08:15] SzymonPobiega opened #39 "Make sure to not use SendsAtomicWithReceive mode."
As in this mode NServiceBus transports use the receive connection to perform sends.

[2021-04-02 02:17] CraftJackDeveloper opened #40 "SQS to AzureServiceBus - The given key (NServiceBus.Unicast.Messages.MessageMetadataRegistry) was not present in the dictionary."
I'm trying to set up a router for sending messages from AzureServiceBus to SQS but am getting the following exception in the SQS interface when starting the router:
[code]
Here is my router configuration code:

[code]
I've tried calling `.EnableMessageDrivenPublishSubscribe(...)` using sql subscription storage because I found [this issue](https://github.com/SzymonPobiega/NServiceBus.Router/issues/

[2021-04-06 12:15] SzymonPobiega commented on #40
Hi

Unfortunately due to a legacy design of the SQS transport, you need some additional configuration in your SQS interface, namely you need to provide a placeholder MessageMetadataRegistry. Take a look [here](https://github.com/SzymonPobiega/NServiceBus.Raw/blob/master/src/AcceptanceTests.SQS/Helper.cs#L18) to see how it can be done via reflection (the ctor of this type is internal, but the type

[2021-04-06 19:14] CraftJackDeveloper commented on #40
That worked like a charm, thank you!

[2021-04-06 19:14] #40 closed

[2021-04-30 02:48] ngallegos opened #41 "SQS events not handled by AzureServiceBus"
I'm working on getting  a router set up so that a new SqsTransport endpoint can interact with some AzureServiceBusTransport endpoints.  I'm not sure what I'm doing wrong, but so far I can only successfully send a command across the router from an ASB endpoint and have it handled by the SQS endpoint.  When the SQS endpoint publishes an event, the ASB endpoint never handles it.

Rather than post all

[2021-05-11 07:30] SzymonPobiega commented on #27
Hi. Sorry to be late with this one but this feature has been shipped in 3.9.0

[2021-05-11 07:30] #27 closed

[2021-05-11 15:20] robj-applied commented on #27
@SzymonPobiega Great, thanks Szymon.

[2021-05-31 11:54] SzymonPobiega opened #42 "Add notifications around failures and moving messages to the poison queue"

[2021-08-03 13:27] rogierverkaik opened #43 "Enabling Transport Migration for publisher is not handled by RMQ subscriber"
We are trying to migrate a RMQ publisher to ASB, while keeping a subscriber at RMQ. According to the [Readme](https://github.com/SzymonPobiega/NServiceBus.Router/blob/master/src/NServiceBus.Router.Migrator/README.md#migrating-publisher-first) it is possible to do that by enabling the migration mode for the publisher first. The problem is that the RMQ subscriber is not handling the events since we

[2021-08-23 07:09] SzymonPobiega commented on #43
Hi @rogierverkaik

Sorry for the late response, I was on vacation last four weeks. The migration mode was mainly tested with MSMQ/SQL combo so I am not yet sure what can be the problem.

Are you going to keep the subscriber on RMQ or move everything to ASB in a endpoint-by-endpoint manner? The main purpose of the migrator was to move the whole system endpoint-by-endpoint from one transport to anot

[2021-09-10 04:12] gursharan001 commented on #32
Hello, just a comment on this. We were wanting to do something similar - JSON <-> XML. In pre-routing, body can be changed but not the headers. In post-routing, headers can be changed but not the body. So how do I change content type header and body at the same time?

[2021-09-13 14:08] rhg1968 opened #44 "SQS/SNS - MSMQ - Router not working behind a proxy"
I have successfully implemented an endpoint (v7.5.0 using .net 4.8) that runs on a windows server and utilizes the router to bridge between the MSMQ and AWS. It runs correctly from multiple developers machines but we have into some issues moving it into our development environment.
In our dev environment we have added the SQS queues urls to the proxy and the generic SNS url us-east-2 to the proxy

[2021-09-15 13:07] rhg1968 commented on #44
Got it working with help from the community and Particular.
Just has to also configure SNS with the client factory
<code>
                        transport.ClientFactory(()=>new AmazonSimpleNotificationServiceClient(
                            new AmazonSimpleNotificationServiceConfig
                            {
                                ProxyHost = proxyUrl,

[2021-11-02 15:57] AJDray opened #45 "NServiceBus Router does not appear to survive MSMQ restarts"
I have an NSB router responsible for Routing MSMQ messages to our Azure ServiceBus instance.

I have observed when I stop MSMQ and subsequently start it again the NServiceBus Router is unable to re-connect to the MSMQ instance.

[code]
Previous versions of the Router appeared to shut down the router. Whilst the latest version 3.9.2 appears to just continually poll MSMQ.

Is there a way this could

[2021-11-03 11:47] SzymonPobiega commented on #45
@AJDray I think this is actually a bug in the MSMQ transport itself. I'll verify that and keep you posted.

[2021-11-03 11:55] SzymonPobiega commented on #45
I created an issue to track this https://github.com/Particular/NServiceBus.Transport.Msmq/issues/329

[2022-01-14 07:54] SzymonPobiega opened #46 "Handle messages with missing CorrelationId headers"
[code]

[2022-02-22 18:30] bwhalversen opened #47 "RabbitMQ to Azure Service Bus events don't get routed"
I've created a simple sample solution with three console applications: a RabbitMQ endpoint, a RabbitMQ to Azure Service Bus (ASB) router, and an ASB endpoint. The router successfully routes an NServiceBus ICommand from the RabbitMQ endpoint to the ASB endpoint. Works great with no issues! However, if the RabbitMQ endpoint attempts to publish an IEvent that is subscribed to by ASB endpoint, the eve

[2022-02-23 11:30] SzymonPobiega commented on #47
Hi

Which version of the Router and Router.Connector do you use? In the latest (3.10), we added automatic subscriptions. In order for them to work you need to explicitly connect the ASB endpoint to the Router by calling the code similar to the one in the RabbitMQ endpoint:

[code]

The general rule of thumb is, you need to call `ConnectToRouter` in all the endpoints that send commands over router

[2022-02-23 16:50] bwhalversen commented on #47
Thanks for the pointer. That did the trick. My events are now getting routed properly. It would be good to work into the documentation this paragraph somewhere since it is succinct and very illuminating:

"The general rule of thumb is, you need to call ConnectToRouter in all the endpoints that send commands over router **and ones that subscribe to events.** You don't need to call that API in endpo

[2022-02-23 19:05] bwhalversen commented on #47
A follow-up question based on the POC I'm working on. Is it possible to somehow configure a router to "listen" for all messages placed in a queue for one transport/interface (i.e. RabbitMQ) and automatically forward them to another transport/interface (i.e. ASB)? That is, a routing that would simply forward ALL messages from a queue in one transport to a queue in a different transport.

[2022-03-17 17:35] marcselis opened #48 "Add support to route to multiple ASB topics in the same namespace"
When setting up a router between a multi-schema SQL transport & a multi-topic ASB transport all subscriptions are created in the routers own ASB topic, instead of the topic where the event is published, causing the SQL subscribers not to receive the event.
Please see [Azure Service Bus Transport issue #511](https://github.com/Particular/NServiceBus.Transport.AzureServiceBus/issues/511) for more co

[2022-03-20 14:34] SzymonPobiega commented on #48
Hi @marcselis

I replied in the other thread in the ASB transport repo. If I understand correctly your scenario, it is possible to configure it with the current version of the Router.

[2022-03-21 10:11] marcselis commented on #48
Ok, I'm currently sick at home, but I'll have a look at it when I'm back at work.
Thanks!

[2022-03-22 19:59] SzymonPobiega commented on #47
Sorry for the late answer. I somehow missed the notification. That scenario is not supported out-of-the box by the router but I think in principle you can configure the router to do so. Why would that be a simplification? What is the scenario you are trying to address?

[2022-03-22 21:02] bwhalversen commented on #47
Thanks for the reply. As our requirements got better defined I no longer need to attempt this so the question can be ignored. Thanks for reaching out nevertheless. BTW the router has been working quite well for us thus far. Very useful.

[2022-03-28 08:20] marcselis commented on #48
If I understand your sample correctly, you propose to setup a router with 1 channel for SQL transport and a separate channel for each ASB topic.  This can work, but we currently have 22 schema's in the SQL transport and I expect in a few years to also reach that same number of topics.
Do you think this setup is scalable enough? A single router with 23 channels?
And if the ASB endpoints want to sen

[2022-03-30 10:58] SzymonPobiega commented on #48
Yes, I don't see any obvious problems there. An alternative solution could be to try to create a forwarding role between topics. I think that should be possible to create in Azure Service Bus. This is not supported by Router or NServiceBus so it would require manual maintenance but given you are going to make a heavy use of it, it might be worth developing a custom little tool that can connect the

[2022-03-31 13:52] marcselis commented on #48
Thanks @SzymonPobiega for the confirmation, but I think this is way to overcomplicated.

Topics in ASB are not used to physically divide endpoints in groups.  They are only used while publishing an event.  The subscriptions for a topic and their filters determine in what queue the published event will be placed for processing.

When routing a message or command between SQL and ASB, the topic is no

[2022-06-02 04:14] chrissmithptml opened #51 "How to get logged output from the Router"
Howdy, so I have 3 docker containers in my example:

1. **Publisher** (SqlTransport) which sends messages / publishes events on a sql isntance
2. **Router** Configured to route messages from Sql Transport from the Publisher to Rabbit MQ of my Subscriber
3. **Subscriber** (RabbitMQ) which receives messages / events from the Publisher via the Router

Now, having followed every example under the sun

[2022-06-15 04:04] chrissmithptml commented on #51
For someone who needs this info.  If you're building a .NET 5/6 Worker Host and are using the .UseNServiceBuseRouter syntax to configure your host, you can do the following to get the router to start logging to console etc.

[code]

[2022-06-15 04:04] #51 closed